<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .primary {
        color: white;
        background-color: blue;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }

    .secondary {
        color: white;
        background-color: gray;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }
</style>

<body>
    <div id="app">
        <input type="text" v-model="greeting">
        <p>{{ greeting }} {{ greeting.length }}</p>
        <p v-if="greeting.length > 10">Text is too long</p>

        <!-- Attribute Binding -->
        <button :class="buttonClasses" @click="toggleClass">Click Me</button>
        <button class="primary">Click Me</button>
        <button :class="greeting.length > 10 ? 'primary' : 'secondary'">Danger</button>
        <button v-bind:class="[greeting.length > 10 ? 'primary' : 'secondary']">Warning</button>

        <!-- Coputed Properties -->
        <input type="text" v-model="firstName" placeholder="First Name:">
        <input type="text" v-model="lastName" placeholder="Last Name:">
        <p>Your full name is: {{ firstName }} {{ lastName }}</p>
        <p v-if="fullName.length > 5">Your full name is: {{ fullName }}</p>

        <!-- List -->
        <section
            style="display: flex; justify-content: center; gap: 50px; background-color:aqua; width: 100%; padding: 2rem;">
            <div style="padding: 1rem; border: 1px solid rgb(53, 50, 43);;" v-if="completedAssignments.length > 0">
                <p>Completed</p>
                <ul>
                    <li v-for="assignment in completedAssignments" :key="assignment.id">
                        <label> {{ assignment.name }}
                            <input type="checkbox" v-model="assignment.complete">
                        </label>

                    </li>
                </ul>
            </div>

            <div style="padding: 1rem; border: 1px solid rgb(53, 50, 43);" v-if="inProgressAssignments.length > 0">
                <p>In Progress</p>
                <ul>
                    <li v-for="assignment in inProgressAssignments" :key="assignment.id">
                        <label>
                            {{ assignment.name }}

                            <input type="checkbox" v-model="assignment.complete">
                        </label>
                    </li>
                </ul>
            </div>
            <add-assignment :assignments="assignments"></add-assignment>

        </section>





    </div>
    <script type="module">
        import addAssignment from './addAssignment.js';
        Vue.createApp({
            components:{
                'add-assignment': addAssignment
            },data() {
                return {
                    greeting: 'Helo Gentlemen',
                    buttonClasses: 'secondary',
                    firstName: '',
                    lastName: '',
                    assignments: [
                        { name: 'Math', complete: false, id: 1 },
                        { name: 'English', complete: false, id: 2 },
                        { name: 'History', complete: true, id: 3 },
                        { name: 'Science', complete: true, id: 4 }
                    ],
                    newAssignment: ''
                }
            },
            methods: {
                toggleClass() {
                    this.buttonClasses = this.buttonClasses === 'primary' ? 'secondary' : 'primary';
                },
            },
            computed: {
                fullName() {
                    return this.firstName + ' ' + this.lastName;
                },
                inProgressAssignments() {
                    return this.assignments.filter(a => !a.complete);
                },
                completedAssignments() {
                    return this.assignments.filter(a => a.complete);
                },

            },


            mounted() {
                // alert('Mounted');
            }
        }).mount('#app');
    </script>
</body>

</html>