<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .primary{
        color: white;
        background-color: blue;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }
    .secondary{
        color: white;
        background-color: gray;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
    }

</style>
<body>
    <div id="app">
    <input type="text" v-model="greeting">
    <p>{{ greeting }} {{ greeting.length }}</p> 
    <p v-if="greeting.length > 10">Text is too long</p>

    <!-- Attribute Binding -->
    <button :class="buttonClasses">Click Me</button>
    <button class="primary">Click Me</button>
    <button :class="greeting.length > 10 ? 'primary' : 'secondary'">Danger</button>
    <button v-bind:class="[greeting.length > 10 ? 'primary' : 'secondary']">Warning</button>



    </div>
    <script>
        Vue.createApp({
            data(){
                return {
                    greeting: 'Helo Gentlemen',
                    buttonClasses: 'secondary'
                }
            },
            mounted(){
                    // alert('Mounted');
                }
        }).mount('#app');
    </script>  
</body>
</html>